@model List<DBA.Model.Topic>


    <table class="tablelist">
    	<thead>
    	<tr>
            <th>序号<i class="sort"><img src="/Content/images/px.gif" /></i></th>
            <th>原因</th>
             <th>化妆品编号</th>
             <th>客户联系方式</th>
            <th>客户姓名</th>
             <th>类型</th>
            <th>状态</th>
             <th>时间</th>
            <th>操作</th>
            <th>退货数量</th>
        </tr>
        </thead>
        <tbody>
              @if (Model != null && Model.Count > 0)
{
    int i = 0; 
       
            foreach (var item in Model)
        {
            i++;    
        <tr>
        <td>@i</td>
        <td>@item.Title</td>
             <td>@item.Category</td>
             <td>@item.UserID</td>
            <td>@item.UserName</td>
             <td>@item.CategoryID
             </td>
             <td>@item.HTNum
             </td>
             <td>@item.Time
             </td>
        <td><a href="/Topic/Create?ID=@item.ID"  target="_blank" >查看</a> 
            @if (item.HTNum == "正在处理" && DBA.BLL.Users.GetNowUserType() != "客户")
            {
                 <a href="#" onclick="WC(@item.ID)"   >处理完成</a> 
            }
            <a href="#" onclick="Del(@item.ID)"   >删除</a> 
           
        </td>
            <td>@item.RejectNum</td>
        </tr>    
            }
} 
        </tbody>
    </table>
    


    

