@model List<DBA.Model.Users>


    <table class="tablelist">
    	<thead>
    	<tr>
        <th>序号<i class="sort"><img src="/Content/images/px.gif" /></i></th>
             <th>用户类型</th>
        <th>用户名</th>
            
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
              @if (Model != null && Model.Count > 0)
{
    int i = 0; 
            foreach (var item in Model)
        {
            i++;    
        <tr>
        <td>@i</td>
             
        <td>@item.Usertype</td>
            <td>@item.LoginName</td>
            
             <td>@item.UserName</td>
             <td>@item.Sex</td>
            <td>@item.Age</td>
        <td><a href="/Users/Create?ID=@item.ID"   >修改</a> 
            <a href="#" onclick="Del(@item.ID)"   >删除</a> 
           
        </td>
        </tr>    
            }
} 
        </tbody>
    </table>
    


    

