@model DBA.Model.RRecord
@{
    ViewBag.Title = "Create";
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>入库</title>
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="add_test_img"  >

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">化妆品采购</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>化妆品采购</span></div>
    <form method="post" action="/RRecord/Edit">
    <ul class="forminfo">
          <li><label>化妆品编号</label>@Html.TextBoxFor(m => m.ISBN, new { @class = "dfinput" })<input type="button" value="查找" onclick="cxbook()"/></li>
         <li><label>化妆品名称</label>@Html.TextBoxFor(m => m.BookName, new { @class = "dfinput" })</li>
          <li><label>化妆品单位</label>@Html.TextBoxFor(m => m.DW, new { @class = "dfinput" })</li>
      
          <li><label>供货商</label>@Html.DropDownList("GHSID",null, new { @class = "dfinput" })</li>
          <li><label>仓库</label>@Html.DropDownList("CKID",null, new { @class = "dfinput" })</li>
        @Html.HiddenFor(m => m.CategoryID)
         @Html.HiddenFor(m => m.CreateUserName)
          @Html.HiddenFor(m => m.BookID)
          <li><label>采购价</label>@Html.TextBoxFor(m => m.Str2, new { @class = "dfinput" })</li>
         <li><label>数量</label>@Html.TextBoxFor(m => m.Str1, new { @class = "dfinput",@onchange="jisuan()" })</li>
         <li><label>总价 </label>@Html.TextBoxFor(m => m.Str4, new { @class = "dfinput" })</li>
        <input type="hidden" name="Str5"  value="已提交"/>
        @Html.HiddenFor(m=>m.ID)
         <li><label>&nbsp;</label><input name="" style="border:0;" type="button" class="btn" value="审核通过" onclick="shyes()"/></li>
         <li><label>&nbsp;</label><input name="" style="border:0;" type="button" class="btn" value="审核不通过" onclick="shno()"/></li>
    </ul>
    </form>
    
    </div>


</body>

</html>
<script type="text/ecmascript">
    $("#GHSID").val('@Model.GHSID');
    $("#CKID").val('@Model.CKID');
   
    function shyes() {
        if (confirm("确定审核通过吗？")) {
            $.ajax({
                type: "post",
                traditional: true,
                url: "/RRecord/YEdit",
                data: { ID: $("#ID").val(), ISBN: $("#ISBN").val(), Str1: $("#Str1").val(), Str2: $("#Str2").val() },
                datatpye: "json",
                success: function (data) {
                    window.location = "/RRecord/RRecordManage";
                }
            });
        }
    }

    function shno() {
        if (confirm("确定审核不通过吗？")) {
            $.ajax({
                type: "post",
                traditional: true,
                url: "/RRecord/NEdit",
                data: { ID: $("#ID").val() },
                datatpye: "json",
                success: function (data) {
                    window.location = "/RRecord/RRecordManage";
                }
            });
        }
    }
    function jisuan() {
       
        var dj = $("#Str2").val();
        $("#Str4").val(parseFloat(dj) * parseFloat($("#Str1").val()));
    }
    function cxbook() {
        var ISBN = $("#ISBN").val();
        $.ajax({
            type: "post",
            traditional: true,
            url: "/Goods/GetGoods",
            data: { ISBN: ISBN},
            datatpye: "json",
            success: function (data) {
                if (data&&data.length>0) {
                    $("#BookName").val(data[0].GoodsName);
                    $("#CategoryID").val(data[0].CategoryID);
                    $("#GG").val(data[0].GoodsJJ);
                    $("#BookID").val(data[0].ID);
                    $("#DW").val(data[0].GoodsCBS);
                }
                else {
                    alert("请输入正确的化妆品编号~");
                }
            }
        });
    }
</script>


