@model List<DBA.Model.Goods>


    <table class="tablelist">
    	<thead>
    	<tr>
       
           
             <th>化妆品栏目</th>
            <th>化妆品名</th>
                
             <th>化妆品编号</th>
                 <th>化妆品单位</th>
            
             <th>库存</th>
            <th>操作</th>
            <th>仓库</th>
            
        </tr>
        </thead>
        <tbody>
              @if (Model != null && Model.Count > 0)
              {
                    int i = 0;
                    DBA.BLL.Category bll = new DBA.BLL.Category();
                        foreach (var item in Model)
                        {
           
                        <tr>
                        <td>@bll.GetModel(item.CategoryID).CategoryName</td>
                             <td>@item.GoodsName</td>
            
                             <td>@item.ISBN</td>
                              <td>@item.GoodsCBS</td>
        
                         @if (string.IsNullOrEmpty(item.GoodsKC.ToString()))
                         {
                             <td>0
                             </td>
                         }
                            else{
                             <td>@item.GoodsKC
                             </td>
                         }
                        <td><a href="/Goods/Create?ID=@item.ID"   >修改</a> 
                            <a href="/RRecord/RRecordManage?ISBN=@item.ISBN"   >查看详情</a> 
                              @if (DBA.BLL.Users.GetNowUserType()=="管理员")
                              {
                                    <a href="#" onclick="Del(@item.ID)"   >删除</a> 
                                  
                              }
           
                        </td>
                        <td>@item.Storehouse</td> 
                        </tr>    
                        }
               } 
        </tbody>
    </table>
    


    

